<div class="row">
    <div class="col-xs-12">
        <h4>General</h4>
        <hr>
    </div>
</div>

<div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" name="name" placeholder="Enter your full name" value="<%= customer.name %>" />
</div>
<div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" name="email" placeholder="Enter your email" value="<%= customer.email %>" />
</div>
<div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" placeholder="Enter your password" value="<%= customer.password %>" />
</div>
<div class="form-group">
    <label for="birthday">Birthday:</label>
    <input type="text" class="form-control" name="birthday" placeholder="XX/XX/XXXX" value="<%= customer.birthday %>" />
</div>
<div class="form-group">
    <label for="cpf">CPF:</label>
    <input type="text" class="form-control" name="cpf" placeholder="XXX.XXX.XXX-XX" value="<%= customer.cpf %>" />
</div>
<div class="form-group">
    <label for="celphone">Celphone:</label>
    <input type="tel" class="form-control" name="celphone" placeholder="+XX(XX)XXXX-XXXXX" value="<%= customer.celphone %>" />
</div>

<div class="row">
    <div class="col-xs-12">
        <h4>Delivery</h4>
        <hr>
    </div>
</div>

<div class="form-group">
    <label for="street">Street:</label>
    <input type="text" class="form-control" name="street" placeholder="Enter your street" value="<%= customer.street %>" />
</div>
<div class="form-group">
    <label for="number">Number:</label>
    <input type="number" class="form-control" name="number" placeholder="Enter your house number" value="<%= customer.number %>" />
</div>
<div class="form-group">
    <label for="neightborhood">Neightborhood:</label>
    <input type="text" class="form-control" name="neightborhood" placeholder="Enter your neightborhood" value="<%= customer.neightborhood %>" />
</div>
<div class="form-group">
    <label for="city">City:</label>
    <input type="text" class="form-control" name="city" placeholder="Enter your city" value="<%= customer.city %>" />
</div>
<div class="form-group">
    <button type="submit" class="btn btn-red-dark-default">Save</button>
</div>


