<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3 text-center logo">
                <a href="/" title="Node Shop - Home"><img src="/img/logo2.png" alt="node shop" class="img-responsive" /></a>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-4 text-right account">
                <div class="row">
                    <div class="btn-group" role="group">
                        <% if (user) { %>
                            <div class="btn-group" role="group">
                                <button class="btn btn-red-default upper dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-user"></i>
                                    <%= user.name %>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="/account/<%= user.slug %>"> Perfil</a></li>
                                    <li><a href="/account/logout">Logout</a></li>
                                </ul>
                            </div>
                        <% } else { %>
                            <a href="/account" class="btn btn-default btn-red-default upper">
                                entrar / registrar
                            </a>
                        <% } %>
                        <a <% if(cart._id) { %> href="/cart/<%= cart._id %>"  <% } else { %> href="" <% } %> class="btn btn-default btn-red-default shopping upper">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="badge"><%= cart.count %></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <% for (var i = 0; i < categories.length; i++) { %>
                            <li>
                                <a href="/category/<%= categories[i].slug %>"><%= categories[i].name %></a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div id="slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill img-responsive" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150)"></div>
                <div class="carousel-caption">
                    <h2>Teste teste 1</h2>
                    <p>Teste teste 1</p>
                </div>
            </div>
            <div class="item">
                <div class="fill img-responsive" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150)"></div>
                <div class="carousel-caption">
                    <h2>Teste teste 2</h2>
                    <p>Teste teste 2</p>
                </div>
            </div>
            <a href="#slider" class="left carousel-control" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a href="#slider" class="right carousel-control" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</header>