<%- contentFor('body') %>
<section id="products">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 list-prod">
                <h4 class="title bold">Products</h4>
                <hr />
                <div class="row">
                      <% for(var i = 0; i < products.length; i++) { %>
                        <div class="col-xs-12 col-md-4 product_item">
                            <div class="preview">
                                <img src="<%= products[i].image %>" class="img-responsive" alt="<%= products[i].name %>" />
                            </div>
                            <div class="info">
                                <a href="/product/<%= products[i].slug %>"><%= products[i].name %></a>
                                <div class="price">
                                    <strong>R$<%= products[i].sales_price %></strong>
                                    <a href="/product/<%= products[i].slug %>" class="btn btn-red-default">See more</a>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>